apiVersion: v1
clusters:
- cluster:
    server: https://napi.arvancloud.ir/caas/v2/regions/ir-northwest1
  name: ir-northwest1
contexts:
- context:
    cluster: ir-northwest1
    namespace: startup-project
    user: ddd53b05-6e9a-5795-9d71-54d64944ac4b
  name: ir-northwest1
current-context: ir-northwest1
kind: Config
users:
- name: ddd53b05-6e9a-5795-9d71-54d64944ac4b
  user:
    token: 9af0954a-7af6-58f6-b833-7c97c3fdb221